{% extends  'base.html' %}

{% block content%}
    {% for i in ml %}
        {% if i.by.pk == who%}
            <div style="display: flex;"><img src="{{i.by.avatar.url}}" style="width: 5%;"> 
            <p>{{i.massage}}</p></div><br>
        {% endif %}

        
    {% endfor %}

    {%for i in ml1 %}
        {% if i.to.pk == who%}
            <div style="display: flex;"><img src="{{i.by.avatar.url}}" style="width: 5%;">
            <p>{{i.massage}}</p></div><br>
        {% endif %}
    {% endfor %}
    <a href="{% url 'createmassage2' who%}">write</a>
{% endblock %}