.navbar .container-fluid, .navbar-expand-lg .navbar-collapse .navbar-nav{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    margin-top: 8%;
}
.navbar{
    width: 20%;
    height: 100vh;
    align-items: flex-start;
    position: fixed;
}
.navbar-nav{
    font-size: larger;
    line-height: 200%;
}